@use "sass:color";

$color: #ffffff;
$background-color: #000000;

@mixin button {
  margin: 3px;
  padding: 0 12px;
  border-radius: 9999px;
  transition-duration: 150ms;

  &:hover {
    background-color: color.adjust($color, $alpha: -0.83);
  }
}

.bar {
  background-color: $background-color;
  color: $color;
  min-height: 32px;

  .clock {
    @include button;

    font-weight: bold;
    font-feature-settings: "tnum";
  }

  .workspaces {
    @include button;

    button {
      background-color: $color;
      border-radius: 9999px;
    }
  }

  .status {
    @include button;

    .privacy-status-item {
      color: #ff7800;
    }
  }

  .tray {
    button {
      @include button;
    }
  }
}
